DriverWebpage/oracleJdk-26/
DriverWebpage/oracleJdk-26.local-backup/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.gradle/
**/.kotlin/
**/ios/Flutter/ephemeral/
**/macos/Flutter/ephemeral/
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/
**/.idea/
**/.vscode/
*.iml
*.pyc
__pycache__/
